/*-- scss:components/footer --*/

// =====================================================
// FOOTER (from your SCSS)
// =====================================================

.nav-footer {
    align-items: flex-start;
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    font-family: $footer-font-family;

    a {
        color: $light-orange;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    .fingerprint {
        font-family: monospace;
        font-size: 0.8em;
    }

    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: 768px) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: 768px) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}